@font-face {
  font-family: "SF-Display";
  src: url("fonts/SF-Display-bold.woff") format("woff");
  font-weight: 700 900;
}

body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  font-family: "SF-Display";
}

.splash {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  color: #dadada;
  background-color: #0163f5;
}

.title {
  font-size: 54px;
}
